<div id="image-container" [ngSwitch]="weather_main">
    <div *ngSwitchCase="'Clouds'">
        <img *ngIf="weather_description == 'few clouds'" src="../../assets/images/cloudy.png" alt="{{weather_description}}">
        <img *ngIf="weather_description != 'few clouds'" src="../../assets/images/overcast.png" alt="{{weather_description}}">
    </div>
    <img *ngSwitchCase="'Thunderstorm'" src="../../assets/images/tstorm.png" alt="{{weather_description}}">
    <img *ngSwitchCase="'Drizzle'" src="../../assets/images/light-rain.png" alt="{{weather_description}}">
    <img *ngSwitchCase="'Rain'" src="../../assets/images/shower.png" alt="{{weather_description}}">
    <img *ngSwitchCase="'Snow'" src="../../assets/images/snow.png" alt="{{weather_description}}">
    <img *ngSwitchCase="'Fog'" src="../../assets/images/fog.png" alt="{{weather_description}}">
    <img *ngSwitchCase="'Clear'" src="../../assets/images/sunny.png" alt="{{weather_description}}">
    <img *ngSwitchCase="'Tornado'" src="../../assets/images/sunny-tstorm.png" alt="{{weather_description}}">
    <img *ngSwitchCase="'Mist'" src="../../assets/images/switch.png" alt="{{weather_description}}">
    <img *ngSwitchDefault src="../../assets/images/dunno.png" alt="{{weather_description}}">
</div>